html {
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    width: 200pxx;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px, 0px 9px, 6px #002423;
    min-height: 100px;
    background: #DC143C;
}